.header
{
display: flex;
background-color: gray;
color: white;
padding: .5vh;
justify-content: space-between;
padding: 2px;
}

.heading{
    display: flex;
    margin: auto;
    font-size: 5vh;
}
.logo{
    height: 5vh;
    margin: .5vh;
}